/*Font*/
@font-face {
font-family: 'Montserrat', sans-serif;
}
/* Navigation */

#authorname {
    text-align: center;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

#navigation ul:first-child {
    text-align: end;
    background-color: rgb(162, 196, 201);
    padding: 10px;
}

#menu {
    display : flex ;
    flex-direction : row ;
    background-color : #B6D7A8;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25%;
    padding-right: 25%;
}

#adminmenu {
    display : flex ;
    flex-direction : row ;
    background-color : #EA9999;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25%;
    padding-right: 25%;
}

#navigation {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

#icons a {
    padding-right: 25px;
}


/*Footer */

#footer {
    background-color: rgb(162, 196, 201);
    justify-content: space-between;
    align-items: flex-start;
    height : 10vh ;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    padding-top: 10px;
    padding-left: 10px;
}

#footer a {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

#firstlink {
    display: flex;
    flex-direction : row ;
    justify-content: flex-start ;
    width : 45% ;
    float : left ;
    height : 10vh ;
}

#aboutcontact {
    display: flex;
    flex-direction : column ;
    height : 10vh ;
    justify-content: flex-start ;
    padding-left : 5vh ;
}

#aboutcontact a {
    padding-bottom : 2vh ;
}

#social {
    display: flex;
    flex-direction: column;
    width:40%;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: space-around;
    height : 10vh ;
    float : right ;
}

#social a {
    padding-right: 25px;
}
#social a i {
    padding-right: 10px;
}

    /*Homepage*/

#home-title {
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
    font-weight: bold;
}
#hometext1 {
    padding-left: 30%;
}

#hometext2 {
    padding-left:30%;
}
#hometext3 {
    padding-left: 10%;
}
#hometext1, #hometext2, #hometext3 {
    padding-top: 100px;
    padding-bottom: 100px;
}
#homepage {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

#hometext1 a, #hometext2 a, #hometext3 a {
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    color: #EA9999;
    border: 3px #EA9999 solid;
    text-decoration: none;
}

#homepage h3 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: x-large;
    font-weight: 700;
}

/* AllChapters */

#allchapters {
    font-family: 'Montserrat', sans-serif;
}
#allchapters h3 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#allchapters p {
    padding-right: 25%;
    padding-left: 25%;
    line-height: 1.8;
}
#allchapters h4 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: x-large;
    font-weight: bold;
}

/* About */

#about {
    font-family: 'Montserrat', sans-serif;
}
#about img {
    width: 300px;
    border: 1px black solid;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 25px;
    margin-right: 100px;
    float:left;
}

#description {
    display: flex;
    justify-content: center;
}

#description figcaption {
    margin-top: 25px;
    margin-right: 10%;
    padding-left: 25px;
    line-height: 1.5em;
    text-align: justify;
}

#about h3 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: x-large;
    font-weight: 700;
}

#about tr {
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 25px;
}

#allbooks {
    flex-flow: column;
    display: flex;
    padding: 0;
    margin: 0;
}

#allbooks td {
    line-height: 1.5em;
}

#about tr td:first-child {
    font-weight: bold;
    min-width: 350px;
}

#about tr td:last-child {
    text-align: justify;
}

